.footer{
    height: 10vh;
    display: grid;
    place-items: center;
    align-content: center;

    background-color: black;
    color: hsl(39, 53%, 52%);
    font-weight: 900;
    font-size: x-large;
    font-family:'Courier New', Courier, monospace
}